/*boxicons and icon classes*/
.bx-icon {
    background: #b3d8ff;
    color: #007bff;
    margin: 0 auto;
    border:transparent;
}
.bx-icon.bx-one{
    background: #b3d8ff;
    color: #007bff;
}
.bx-icon.bx-two{
    background: #C0F2D8;
    color: #2BD47D;
}
.bx-icon.bx-three{
    background: #ffe8b3;
    color: #ffc233;
}
.bx-icon.bx-four{
    background: #f7d4d7;
    color: #e05260;
}
.wrap-icon{
    border-radius: 50%;
    padding: 10px;
/*    background: linear-gradient(-45deg, #3472f7, #53b7fe);*/
    width:64px;
    height:64px;
    color:#fff;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 0 auto;
}
.icon-primary {
    background: linear-gradient(to bottom right,#32d6fb 0%,#3472f7 100%);
    box-shadow: 0 15px 30px 0 #3472f722;
}
.icon-danger {
    background: linear-gradient(to bottom right,#fc5f3c 0%,#ff55d3 100%);
    box-shadow: 0 15px 30px 0 #fc5f3c22;
}
.icon-success {
    background: linear-gradient(to bottom right,#1cf196 0%,#36a6bf 100%);
    box-shadow: 0 15px 30px 0 #1cf19622;
}
.name-icon{
    width: 36px;
    height: 36px;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.icon-blue{
    background: #007bff;
}
.icon-green{
    background: #2BD47D;
}
.icon-red{
    background: #e05260;
}
.icon-yellow{
    background: #ffc233;
}
.icon-purple{
    background: #f04050;
}