.background-container.nav-small {
  height: 27vh;
}
.background-container.nav-small .motto {
  top: 59%;
  text-align: left;
}
.background-container.nav-small h6 {
  font-weight: 400;
  text-transform: initial;
  color: #d0d0d0;
}
/*.main.nav-small .panel {
  width: 100%;
  max-width: initial;
}*/
.main.check-rates section:first-child {
  background: #fdfdfd;
}





@media (max-width: 767px){
  .background-container.nav-small h6 {
     font-size: 13px;
  }
}