*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;

}

body,
a,
h1,
h2,
h3 {
    font-family: Poppins, sans-serif;
}
body{
    overflow-x: hidden;
}
h2.title{
    text-align: center!important;
    color: white!important;
    font-weight: 600!important;
}



button{
    white-space: break-spaces!important;
}



/*hr{
    border: 0;
    border-top: 1px solid #585c93;
}*/

.form-group > input.form-control {
    background: rgba(255,255,255,.1);
    color: #fff!important;
}

.form-group > input.form-control:focus{
    border:solid 1px #ffffff66 !important;
}

.form-group > input.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff88!important
}

.form-group > input.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff88!important
}

.form-group > input.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff88!important
}


.form-group > .form-control{
    border:transparent;
}

.split{
    display: block;
    margin-bottom: 10px;
    margin-left: 10.5%;
    margin-right: 10.5%;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    color: #abb0f2;
    width: auto;
}

.split > span {
    display: inline-block;
    position: relative;
    font-size: 11px;
}

.split > span::before {
    margin-right: 15px;
    right: 100%;
}

.split > span::before, .split > span::after {
    content: '';
    border: 0;
    border-top: 1px solid #585c93;
    position: absolute;
    top: 50%;
    width: 9999px;
}

.split > span::after {
    left: 100%;
    margin-left: 15px;
}


.background-container{
    position:relative;
    width:100%;
    height:100vh;
/*    height:540px;*/
    top:0;
    left:0;
}

.bg-overlay{
    position:absolute;
    top:0;
    bottom: -35px;
    right: 0;
    left:0;
    background-color: #041d3eab;/*#000000aa*/
    z-index: -1;
}

.bg-overlay-black{
    position:absolute;
    top:0;
    bottom: -35px;
    right: 0;
    left:0;
    background-color: #000000ab;/*#000000aa*/
    z-index: -1;
}

.background-container > .img-src{
    position:fixed;
    width:100%;
    height: 100vh;
/*    height:590px;*/
/*    height:540px;*/
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    z-index: -2;
}

.background-container .motto{
    position: relative;
    width: 450px;
    height: 0;
/*    transform: translate(0%,150px);*/
/*    background: red;*/
    top: 231px;
/*    top: 200px;*/
/*    top: calc(200px - 15vh);*/
    text-align: center;
    width: 100%!important;
    color: #ffffff;
    z-index: 10;
}

.background-container .motto h1{
    margin: 0;
    font-weight: 600;
    font-size: calc(4.3rem + 4.3vw);
}

.background-container .motto h3{
    margin: 0;
    font-weight: 400;
    font-size: calc(1.5rem + 1.5vw);
/*    font-size: 96px;*/
}


.background-container .motto .border{
    float: left;
    border: 3px solid #FFFFFF;
    padding: 0px 30px;
    text-align: center;
}
.background-container .motto .no-right-border{
    border-right: none;
}

.section-heading{
    font-size: calc(2.1rem + 2.1vw)!important;
    font-weight: 700!important;
    color: #3db3c5;
    text-align: center;
/*    background: linear-gradient(-45deg, #3db3c5, #274685);*/
/*    background-clip: border-box;*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
}


.main{
/*    border-top-left-radius: 50px;*/
/*    border-top-right-radius: 50px;*/
/*    top: -100px;*/
/*    position: relative;*/
    z-index: 99;
}






.bg-white{
    background-color: #fff!important;
}

.bg-transparent{
    background-color: transparent!important;
}



.text-white {
  color: #fff!important;
}

nav .text-white:hover {
  color: #3472F7!important;
}

.btn-transparent-50{
    border-color: #ffffff99!important;
    color: #ffffffaa;
}

.btn-transparent-50:hover, .btn-transparent-50:focus{
    border-color: #ffffff88!important;
    color: #ffffffcc!important;
}

.text-muted-2{
    color: #8a8a8a;
}


/*Custom classes*/
.section-heading{
    padding: 4px 0;
    background: linear-gradient(-45deg, #3472f7, #53b7fe);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-spacing{
    padding: 7rem 0;
}

.section-about{
    background: #fdfdfd;
}
.section-features{
    padding: 5rem 0 9rem 0;
/*    position: relative;*/
    background: #eef2ffab;
/*    background: url("../images/image_5.jpg");*/
}

.section-container{
  position: relative;
  top: 65px;
  padding: 3rem 1.6rem;
}
.section-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.sections .section-content .bx-menu,
.sections .section-content .text{
  color: #11101d;
  font-size: 35px;
}
.sections .section-content .bx-menu{
  cursor: pointer;
  margin-right: 10px;
}
.sections .section-content .text{
  font-size: 26px;
  font-weight: 600;
}

.img-fixed {
  position: fixed;
  width: 100%;
  height: 100vh;
  /*height: 590px;
  height: 540px;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -2;
}

.img-abs {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  /*height: 590px;
  height: 540px;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -2;
}
.cta-section {
    background: linear-gradient(to left, #3472f7 0%, #53b7fe 100%);
    color: #fff;
}
.footer{/*    padding: 20px 0 10px 0;*/
    line-height: 20px;
/*    padding: 30px 0;*/
    background-color: #fff;
/*    background-image: url('./images/blurred-black-cover.jpg');*/
/*    background-attachment: fixed;*/
/*    position: relative;*/
}
.footer .copyright {
  color: #777;
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}
.footer nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  justify-content: center !important;
    flex-wrap: wrap !important;
}
.footer nav > ul a {
  color: #9a9a9a;
}
.footer nav > ul a:hover {
  color: #787878;
}

/*.footer .credits {
    margin-top: 25px;
    padding: 20px 0 15px;
    text-align: center;
}
.active-tab{
    background: #ffffff22!important;
}*/
.bg{
/*  width: 100%;*/
/*  margin: auto;*/
/*  max-width: 525px;*/
  /*;
  min-height: 670px;*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/bg.jpg');
/*  background: url('../images/bg.jpg') no-repeat;*/
/*  background-size: contain;*/
/*  background: url('../images/bg.jpg') no-repeat center;*/
/*  box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);*/
}
.desc{
   line-height: 1.7;
   font-weight: 300;
   color: #5d648e;
}
.feature-title{
   margin: 25px 0 15px;
   font-size: 22px;
   letter-spacing: -.5px;
   color: #223464;
}

/*sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #0A2558;
  transition: all 0.5s ease;
  background: url('../images/bg.jpg') no-repeat;
}
.sidebar.active{
  width: 60px;
}*/
.space-50 {
  height: 50px;
  display: block;
}


.empty{
   margin: 0 auto;
   justify-content: center;
   display: flex;
   flex-direction: column;
   width: 210px;
/*   width: 180px;*/
   text-align: center;
   top: 180px;
   position: relative;
  /*   transform: translate(0,120%);*/
   /*align-content: center;*/
   /*align-items: center;*/
   /*align-self: center;*/
}
/*.feature{
    border-radius: 15px;
    padding: 40px 30px;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.05),0 17px 50px 0 rgba(0,0,0,.06);
}*/





/*gsdk custom class*/
.navbar .navbar-nav > li > a.btn {
  margin: 15px!important;
}










/*Bootstrap custom class*/
.justify-content-between {
    justify-content: space-between!important;
}
.justify-content-center {
   justify-content: center!important;
}
.align-items-center {
    align-items: center!important;
}
.panel{
    max-width: 400px;
    margin: 0 auto;
    border-radius: 13px;
/*    box-shadow: 0 5px 10px rgba(0,0,0,0.1);*/
}
a.list-group-item {
    cursor: pointer;
    overflow: hidden;
    color: #555!important;
}
.list-group-item-heading{
    font-weight: 600;
}
select.form-control {
    cursor: pointer;
    max-width: 270px;
    min-width: 130px;
}
.btn-white{
    color: #ddd;
/*    background-color: #fff!important;*/
    border-color: #fff!important;
}
.btn-white:hover{
    color: #eee;
}
.btn-black{
    color: #ccc;
    background-color: #000!important;
    border-color: #000!important;
}
.btn-black:hover{
    color: #cbcbcb!important;
}
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-collapse {
    max-height: 100%;
}



/*boxicons and icon classes*/
.bx-icon {
    background: #b3d8ff;
    color: #007bff;
    margin: 0 auto;
    border:transparent;
}

.bx-icon.bx-one{
    background: #b3d8ff;
    color: #007bff;
}
.bx-icon.bx-two{
    background: #C0F2D8;
    color: #2BD47D;
}
.bx-icon.bx-three{
    background: #ffe8b3;
    color: #ffc233;
}
.bx-icon.bx-four{
    background: #f7d4d7;
    color: #e05260;
}
.wrap-icon{
    border-radius: 50%;
    padding: 10px;
/*    background: linear-gradient(-45deg, #3472f7, #53b7fe);*/
    width:64px;
    height:64px;
    color:#fff;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 0 auto;
}
.icon-primary {
   background: linear-gradient(to bottom right,#32d6fb 0%,#3472f7 100%);
   box-shadow: 0 15px 30px 0 #3472f722;
}
.icon-danger {
   background: linear-gradient(to bottom right,#fc5f3c 0%,#ff55d3 100%);
   box-shadow: 0 15px 30px 0 #fc5f3c22;
}
.icon-success {
  background: linear-gradient(to bottom right,#1cf196 0%,#36a6bf 100%);
  box-shadow: 0 15px 30px 0 #1cf19622;
}
.name-icon{
    width: 36px;
    height: 36px;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.icon-blue{
    background: #007bff;
}
.icon-green{
    background: #2BD47D;
}
.icon-red{
    background: #e05260;
}
.icon-yellow{
    background: #ffc233;
}



/*FAB*/
.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 0;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
/*  box-shadow: 0 10px 25px #1D62F0;*/
   background: #1D62F0;
  /*-webkit-transform: translatey(-3px);
          transform: translatey(-3px);*/
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .floating-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 48px;
  height: 48px;
  background: #3472F7;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
/*  line-height: 65px;*/
  text-align: center;
  font-size: 20px;
/*  vertical-align: middle;*/
  z-index: 100;
  box-shadow: 0 10px 25px -5px #1D62F099;
/*  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);*/
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}*/
/*.floating-container .float-element .bx {
  vertical-align: middle;
  font-size: 16px;
}*/


/*Sweetalert custom class*/
.swal2-popup {
    border-radius: 13px !important;
}
#swal-input1, #swal-input2 {
    margin: 5px !important;
    width: 130px;
    color: #000!important;
}
#swal2-html-container .form-control {
    display: inline !important;
    border: solid 1px #888 !important;
}
#swal2-html-container > .form-control:focus{
    border:solid 1px #007bff !important;
    box-shadow: none;
}
#swal2-html-container > .form-control input::placeholder, 
#swal2-html-container > .form-control input:-ms-input-placeholder, 
#swal2-html-container > .form-control input::-ms-input-placeholder{
    color: #888 !important;
}
.swal2-title{
    text-align: left!important;
}





@media (max-width: 767px){
    .background-container .motto{
        font-size: 60px;
        width: 268px;
        top: 130px;
    }
    .background-container .motto{
        top: 180px;
    }
    .img-mobile{
        display: none;
    }
    .footer nav.pull-left, nav > ul li, .pull-right {
        float: none !important;
    }
    .landing-page .wrapper {
       text-align: center;
    }
    .footer{
       padding-top: 30px;
    }
    .footer nav > ul {
      font-size: 13px;
    }

}

.m-0{margin:0!important}.mt-0,.my-0{margin-top:0!important}.mr-0,.mx-0{margin-right:0!important}.mb-0,.my-0{margin-bottom:0!important}.ml-0,.mx-0{margin-left:0!important}.m-1{margin:.25rem!important}.mt-1,.my-1{margin-top:.25rem!important}.mr-1,.mx-1{margin-right:.25rem!important}.mb-1,.my-1{margin-bottom:.25rem!important}.ml-1,.mx-1{margin-left:.25rem!important}.m-2{margin:.5rem!important}.mt-2,.my-2{margin-top:.5rem!important}.mr-2,.mx-2{margin-right:.5rem!important}.mb-2,.my-2{margin-bottom:.5rem!important}.ml-2,.mx-2{margin-left:.5rem!important}.m-3{margin:1rem!important}.mt-3,.my-3{margin-top:1rem!important}.mr-3,.mx-3{margin-right:1rem!important}.mb-3,.my-3{margin-bottom:1rem!important}.ml-3,.mx-3{margin-left:1rem!important}.m-4{margin:1.5rem!important}.mt-4,.my-4{margin-top:1.5rem!important}.mr-4,.mx-4{margin-right:1.5rem!important}.mb-4,.my-4{margin-bottom:1.5rem!important}.ml-4,.mx-4{margin-left:1.5rem!important}.m-5{margin:3rem!important}.mt-5,.my-5{margin-top:3rem!important}.mr-5,.mx-5{margin-right:3rem!important}.mb-5,.my-5{margin-bottom:3rem!important}.ml-5,.mx-5{margin-left:3rem!important}.p-0{padding:0!important}.pt-0,.py-0{padding-top:0!important}.pr-0,.px-0{padding-right:0!important}.pb-0,.py-0{padding-bottom:0!important}.pl-0,.px-0{padding-left:0!important}.p-1{padding:.25rem!important}.pt-1,.py-1{padding-top:.25rem!important}.pr-1,.px-1{padding-right:.25rem!important}.pb-1,.py-1{padding-bottom:.25rem!important}.pl-1,.px-1{padding-left:.25rem!important}.p-2{padding:.5rem!important}.pt-2,.py-2{padding-top:.5rem!important}.pr-2,.px-2{padding-right:.5rem!important}.pb-2,.py-2{padding-bottom:.5rem!important}.pl-2,.px-2{padding-left:.5rem!important}.p-3{padding:1rem!important}.pt-3,.py-3{padding-top:1rem!important}.pr-3,.px-3{padding-right:1rem!important}.pb-3,.py-3{padding-bottom:1rem!important}.pl-3,.px-3{padding-left:1rem!important}.p-4{padding:1.5rem!important}.pt-4,.py-4{padding-top:1.5rem!important}.pr-4,.px-4{padding-right:1.5rem!important}.pb-4,.py-4{padding-bottom:1.5rem!important}.pl-4,.px-4{padding-left:1.5rem!important}.p-5{padding:3rem!important}.pt-5,.py-5{padding-top:3rem!important}.pr-5,.px-5{padding-right:3rem!important}.pb-5,.py-5{padding-bottom:3rem!important}.pl-5,.px-5{padding-left:3rem!important}.d-none{display:none!important;}.d-block{display:block!important;}.d-flex{display:flex!important;}.w-100{width:100%!important}.h-100{height:100%;}.ml-auto{margin-left: auto}.mr-auto{margin-right: auto!important;}