/fonts
/css/bootstrap.css
/css/g.css
/css/gsdk - Copy.css
/css/gsdk-edit.css
/css/sidebarx.css
/css/sidebar2.css
/js/bootstrap.bundle.min.js
/js/bootstrap.min.js
/js/jquery-ui-1.10.4.custom.min.js
/js/gsdk.js
/js/componentsx.js
/js/viewsX.js
/js/gsdk-radio.js
/js/gsdk-checkbox.js
/js/gsdk-bootstrapswitch.js
/Popup Modal Box
/node_modules
/package.json
/.gitignore
/index.js
/Capture.PNG
/normal users.PNG