/fonts
/css
/js
/Popup Modal Box
/node_modules
/package.json.bak
/package.json
/package-lock.json.bak
/.gitignore
/index.js
/oldindex.html
mithril.min.js
/Capture.PNG
/normal users.PNG
# /js/load.js
# /css/g.css
# /css/gsdk.css
# /css/gsdk - Copy.css
# /css/gsdk-edit.css
# /css/sidebarx.css
# /css/sidebar2.css
# /js/bootstrap.bundle.min.js
# /js/bootstrap.min.js
# /js/jquery-ui-1.10.4.custom.min.js
# /js/gsdk.js
# /js/componentsx.js
# /js/viewsX.js
# /js/gsdk-radio.js
# /js/gsdk-checkbox.js
# /js/gsdk-bootstrapswitch.js
